
@{
    ViewBag.Title = "Pollution Facts";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<head>





    <!-- Font stylesheet -->
    <link href="https://fonts.cdnfonts.com/css/komika-hand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Font stylesheet -->
    <title>More Information</title>
    <link href="https://fonts.cdnfonts.com/css/komika-hand" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


    <link href="~/Content/wireframe.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/TipNew.css" rel="stylesheet" />
    <link href="~/Content/qstyle.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>



<body>

    <div class="col-12" style="        background-image: url('../Assets/dropcount.jpg');
        background-position: center center;
        background-size: cover;
        padding: 0px;
        height: 12%;">

        <div class="col-12" style="background-color:rgba(45,45,45,0.3); width:100%; height:100%;">
            <div class="row">


            </div>
        </div>
    </div>

    <div class="container" style=" padding: 30px; ">
        <p style="        font-size: xxx-large;
        text-align: center;
        font-weight: 700;
        color: black;
        font-family: 'Raleway', sans-serif;
        padding: 20px;">
            Be careful what you put down the drain!
    </div>
    <div class="container" style="        background-color: #cfd8dc;
        max-width: 90%;
        margin: auto;
        border-radius: 30px;
        display: block;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
">
        <div class="col-lg-12" style="padding:50px;">
            <p style="font-weight: 700; font-size: 22px;">
                For what did you use water today? Was it while you were in the shower or while you were brushing your teeth? Did someone in your house use it for cooking or washing the dishes? You may have used water to flush the toilet or while you were washing your
                hands!
            </p>
            <p>
                All the waste water from our daily use ends up in the rivers, lakes and oceans. If this sewage is not properly treated and purified it can affect aquatic ecosystems and also result in health problems for the people accessing them.
            </p>
            <p>
                You may have also noticed people littering spots around creeks, lakes and rivers. There could also be garbage dumps that are left unattended. During rains or due to winds these may enter the water body and eventually affect the natural ecosystem.
            </p>

            <p style="font-weight: 700;">
                What constitutes wastewater?
            </p>
            <p>
                Water that is washed away from homes and businesses or factories constitutes wastewater. There are many types of wastewater, but the four most wastewater types that affect Melbourne are:
                <ol>
                    <li>Greywater - water from baths or showers, hand basins, washing machines and kitchens.</li>
                    <li>Blackwater - toilet waste. c. Sewage - includes both greywater and blackwater.</li>
                    <li>Sewage - includes both greywater and blackwater.</li>
                    <li>Industrial waste water - comprises all waterborne waste but does not include sewage.</li>
                </ol>
            </p>
            <br />
            <p>
                NATIONAL LITTER INDEX 2018 ‐ 2019 produced this graph indicating the major contributors of litter in rivers:
            </p>
            <br>
        </div>
        <div class="container">
            <div class="row col-12">
                <div class="col-lg-8 col-md-12">
                    <!-- Embedding tableau map showing predicted water stress in countries around the world -->

                    <div class='tableauPlaceholder ' id='viz1602833068045' style='position: relative'>
                        <noscript>
                            <a href='#'>
                                <img alt=' '
                                     src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gr&#47;Graph1_16028329201220&#47;Dashboard1&#47;1_rss.png'
                                     style='border: none' />
                            </a>
                        </noscript><object class='tableauViz' style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='' />
                            <param name='name' value='Graph1_16028329201220&#47;Dashboard1' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='yes' />
                            <param name='static_image'
                                   value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gr&#47;Graph1_16028329201220&#47;Dashboard1&#47;1.png' />
                            <param name='animate_transition' value='yes' />
                            <param name='display_static_image' value='yes' />
                            <param name='display_spinner' value='yes' />
                            <param name='display_overlay' value='yes' />
                            <param name='display_count' value='yes' />
                            <param name='language' value='en-GB' />
                            <param name='filter' value='publish=yes' />
                        </object>
                    </div>
                    <script type='text/javascript'>
                        var divElement = document.getElementById('viz1602833068045');
                        var vizElement = divElement.getElementsByTagName('object')[0];
                        if (divElement.offsetWidth > 800) {
                            vizElement.style.minWidth = '420px';
                            vizElement.style.maxWidth = '650px';
                            vizElement.style.width = '100%';
                            vizElement.style.minHeight = '587px';
                            vizElement.style.maxHeight = '887px';
                            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                        } else if (divElement.offsetWidth > 500) {
                            vizElement.style.minWidth = '420px';
                            vizElement.style.maxWidth = '650px';
                            vizElement.style.width = '100%';
                            vizElement.style.minHeight = '587px';
                            vizElement.style.maxHeight = '887px';
                            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                        } else {
                            vizElement.style.width = '100%';
                            vizElement.style.height = '727px';
                        }
                        var scriptElement = document.createElement('script');
                        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                        vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

                </div>
                <div class="col-lg-4  col-md-12">
                    <div class="jumbotron" style="background-color: white; border-radius: 50px; margin-top:35px;">
                        <p style="font-weight :700;">How many plastic bags do you think Australians use in a year?</p>
                        <span id='a1'></span><br>
                        <form id="d1">
                            <input type="radio" name="choice" value="539"> 539 million<br>
                            <input type="radio" name="choice" value="1.78"> 1.78 billion<br>
                            <input type="radio" name="choice" value="3.90"> 3.90 billion<br>
                            <input type="radio" name="choice" value="6.01"> 6.01 billion<br>
                            <br><input class="btn btn-secondary" type="submit" value="Submit" onclick="validate(choice.value, '3.90', 'd1','a1')">
                        </form>
                        <script>
                            var validate = function (valore, rightanswer, form, span) {
                                var formname = document.getElementById(form)
                                var spanname = document.getElementById(span)

                                spanname.innerHTML = rightanswer;

                                if (valore == rightanswer) {
                                    formname.innerHTML = "<p>That’s right! 3.90 billion plastic bags are used by Australians every year!On average, 130kg of plastic is used by one person in Australia each year. Only 9% of the 130kg is recycled. Even more appalling is the fact that up to 130,000 tonnes of plastic make it to the waterways and ocean in our country!  phew!! </p>";
                                } else {
                                    formname.innerHTML = "<p>That's incorrect! Actually, 3.90 billion plastic bags are used by Australians every year!On average, 130kg of plastic is used by one person in Australia each year. Only 9% of the 130kg is recycled. Even more appalling is the fact that up to 130,000 tonnes of plastic make it to the waterways and ocean in our country!  phew!! </p>";
                                }
                            };</script>
                    </div>
                </div>
            </div>
            <br>

            <div class="row col-12">
                <div class="col-lg-12">
                    <div class="jumbotron" style="background-color: white; border-radius: 50px;">
                        <p style="font-weight :700;"> Which item do you think is the largest contributor to litter in rivers according to the National Litter Index 2018?</p>
                        <span id='a2'></span><br>
                        <form id="d2">
                            <input type="radio" name="choice" value="Beverage"> Beverage Containers<br>
                            <input type="radio" name="choice" value="Paper"> Paper Waste<br>
                            <input type="radio" name="choice" value="Plastic"> Plastic Bags<br>
                            <input type="radio" name="choice" value="Takeaway"> Takeaway food and bottles<br>
                            <br><input class="btn btn-secondary" type="submit" value="Submit" onclick="validate1(choice.value, 'Takeaway', 'd2','a2')">

                        </form>
                        <script>
                            var validate1 = function (valore, rightanswer, form, span) {
                                var formname = document.getElementById(form)
                                var spanname = document.getElementById(span)

                                spanname.innerHTML = rightanswer;

                                if (valore == rightanswer) {
                                    formname.innerHTML = "<p>That's right! Take away food and bottles contribute to roughly 34% of the litter found in rivers! </p>";
                                } else {
                                    formname.innerHTML = "<p>That's incorrect! Take away food and bottles contribute to roughly 34% of the litter found in rivers! </p>";
                                }
                            };</script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <div class="container" style="        background-color: #cfd8dc;
        max-width: 90%;
        margin: auto;
        border-radius: 30px;
        display: block;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        margin-bottom:60px;
">
        <p style="font-size:30px; text-align: center;font-weight: 700; padding:30px;">Litter Traps</p>

        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 " style="font-size: 1em;color:black; text-align:center; font-family:'Raleway', sans-serif;  margin: 30px auto; border-radius:5px;">
                    <p style="text-align:justify;">
                        One initiative has been installation of litter traps that surround the floating waste in our waterways. The aim is to prevent them from being washed away into the oceans and also for protecting the vulnerable aquatic plants and animals.
                        Take a look at the litter traps in the rivers of Melbourne!
                    </p>
                </div>

                <div class="col-lg-7 " style="font-size: 2em;font-weight: bold;color:black; text-align:center; font-family:'Raleway', sans-serif;  margin: 30px auto; border-radius:5px;">
                    <div class="col-lg-12 ">
                        <div class='tableauPlaceholder ' id='viz1602833788819' style='position: relative ; width: 1000px;  margin-right: auto;'>
                            <noscript>
                                <a href='#'>
                                    <img alt=' '
                                         src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Li&#47;LitterTrap&#47;Dashboard2&#47;1_rss.png'
                                         style='border: none' />
                                </a>
                            </noscript><object class='tableauViz' style='display:none;'>
                                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                <param name='embed_code_version' value='3' />
                                <param name='site_root' value='' />
                                <param name='name' value='LitterTrap&#47;Dashboard2' />
                                <param name='tabs' value='no' />
                                <param name='toolbar' value='yes' />
                                <param name='static_image'
                                       value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Li&#47;LitterTrap&#47;Dashboard2&#47;1.png' />
                                <param name='animate_transition' value='yes' />
                                <param name='display_static_image' value='yes' />
                                <param name='display_spinner' value='yes' />
                                <param name='display_overlay' value='yes' />
                                <param name='display_count' value='yes' />
                                <param name='language' value='en-GB' />
                                <param name='filter' value='publish=yes' />
                            </object>
                        </div>
                        <script type='text/javascript'>
                            var divElement = document.getElementById('viz1602833788819');
                            var vizElement = divElement.getElementsByTagName('object')[0];
                            if (divElement.offsetWidth > 800) {
                                vizElement.style.minWidth = '420px';
                                vizElement.style.maxWidth = '650px';
                                vizElement.style.width = '100%';
                                vizElement.style.minHeight = '587px';
                                vizElement.style.maxHeight = '887px';
                                vizElement.style.height = '587px';
                            } else if (divElement.offsetWidth > 500) {
                                vizElement.style.minWidth = '420px';
                                vizElement.style.maxWidth = '650px';
                                vizElement.style.width = '100%';
                                vizElement.style.minHeight = '587px';
                                vizElement.style.maxHeight = '587px';
                                vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                            } else {
                                vizElement.style.width = '100%';
                                vizElement.style.height = '587px';
                            }
                            var scriptElement = document.createElement('script');
                            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                            vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="container" style="text-align: right; margin-top:50px; margin-bottom:50px;">
        <button type="submit" class="btn btn-primary" onclick="location.href='/'; ">Back to Home</button>
    </div>

    <!-- Color scale -->
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js "></script>
    <script src="graph/RadarChart.js "></script>
</body>

