
@{
    ViewBag.Title = "Reference";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<head>
    <link href="~/Content/wireframe.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/qstyle.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />

    <!-- Font stylesheet -->
    <link href="https://fonts.cdnfonts.com/css/komika-hand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Font stylesheet -->


    <style>
        .row {
            margin-bottom: 20px;
        }
    </style>

</head>
<!-- Header -->

<div class="col-12" style="        background-image: url('../Assets/river.jpg');
        background-position: center center;
        background-size: cover;
        padding: 0px;
        height: 15%;">


</div>


<!-- Page Content -->



<div style="">
    <div class="container">
        <div class="col-lg-12  col-sm-12 col-md-12">
            <h1 style="        font-size: xxx-large;
        font-weight: bold;
        color: black;
        font-family: 'Raleway', sans-serif;
        color: #333333;
        margin: 50px;">
                REFERENCES
            </h1>
            <div>
                <a href="https://www.liveability.vic.gov.au/water">
                    Water
                </a>
            </div>

            <div>
                <a href="https://www.environment.vic.gov.au/__data/assets/pdf_file/0030/395418/Reducing-the-
impacts-of-plastics-on-the-Victorian-environment.pdf">
                    Reducing the impacts of plastics on the Victorian environment
                </a>
            </div>
            <div>
                <a href="https://www.undispatch.com/bad-news-world-will-begin-running-water-2050-good-news-not-2050-yet/">
                    UN
                    DISPATCH - The Bad News? The World Will Begin Running Out of Water By 2050. The Good News? It’s Not
                    2050 Yet
                </a>
            </div>
            <div>
                <a href="https://www.wwf.org.au/news/blogs/the-lifecycle-of-plastics#gs.e4wfiw">
                    WWF - The
                    lifecycle of plastics
                </a>
            </div>
            <div>
                <a href="https://www.budgetdumpster.com/blog/diy-plastic-bottles-recycling/">
                    Budget Dumpster -
                    20 Ways to Reuse and Recycle Empty Plastic Bottles
                </a>
            </div>
            <div>
                <a href="https://www.qld.gov.au/environment/water/residence/use/home/leaks#:~:text=A%20large%20amount%20of%20water,waste%20more%20than%2060%2C000%20litres">
                    Queensland
                    Government - Saving water at home
                </a>
            </div>
            <div>
                <a href="https://www.abcwua.org/Save_Water_in_the_Bathroom.aspx">
                    Albuquerque Bernalillo County Water
                    Utility Authority - Save Water in the Bathroom
                </a>
            </div>

            <div>
                <a href="https://www.longdom.org/open-access/plastics-issues-challenges-and-remediation-2252-5211.1000134.pdf">
                    Plastics: Issues Challenges and Remediation

                </a>
            </div>
            <div>
                <a href="https://explore.panda.org/freshwater#:~:text=Of%20all%20the%20water%20on,industrial%20and%20drinking%20water%20requirements.">
                    (WWF)FRESHWATER -
                    OUR MOST PRECIOUS RESOURCE

                </a>
            </div>
            <div>
                <a href="https://www.sydneywater.com.au/SW/your-home/using-water-wisely/water-wise-tips/index.htm">
                    Water wise tips

                </a>
            </div>
            <div>
                <a href="https://www.yourhome.gov.au/water/outdoor-water-use#:~:text=Reduce%20water%20use%20on%20lawns&text=Ask%20your%20local%20plant%20nursery,shade%20the%20soil%2C%20reducing%20evaporation.">
                    Outdoor water use

                </a>
            </div>

            <div>
                <a href="https://www.yourhome.gov.au/water/wastewater-reuse">
                    Wastewater reuse

                </a>
            </div>

            <div>
                <a href="https://www.gwmwater.org.au/conserving-water/saving-water/how-much-water-you-use">
                    How much water you use

                </a>
            </div>
            <div>
                <a href="https://www.wwf.org.au/news/blogs/10-worst-single-use-plastics-and-eco-friendly-alternatives#gs.ifehr6">
                    10 worst single-use plastics and eco-friendly alternatives

                </a>
            </div>

            <div>
                <a href="https://www.water.vic.gov.au/liveable-cities-and-towns/using-water-wisely/target-155-target-your-water-use">
                    Target 155

                </a>
            </div>

            <h4> ______________</h4>
            <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div>Icons made by <a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio">photo3idea_studio</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div>Icons made by <a href="https://www.flaticon.com/authors/surang" title="surang">surang</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div>Icons made by <a href="https://www.flaticon.com/authors/phatplus" title="phatplus">phatplus</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div>Icons made by <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>


    </div>

    <div class="container col-12 " style="text-align: right; margin:50px 0px; margin-bottom:0px; padding-bottom:50px;">
        <button type="submit" class="btn btn-primary" onclick="location.href='/'; ">Back to Home</button>
    </div>
</div>




