


@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_Layoutpage1.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!------ Include the above in your HEAD tag ---------->
<link href="~/Content/wireframe.css" rel="stylesheet" />
@Styles.Render("~/Content/css")
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />


<link href="~/Content/TipNew.css" rel="stylesheet" />
<link href="~/Content/qstyle.css" rel="stylesheet" />
<link href="~/Content/Style.css" rel="stylesheet" />



<!-- Font stylesheet -->
<link href="https://fonts.cdnfonts.com/css/komika-hand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<!-- Font stylesheet -->

<style>
    html {
        scroll-behavior: smooth;
    }



    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #000;
        transform: translate(-0%, 0%);
    }

    .equal-hight:hover .overlay {
        opacity: 0.85;
    }

    .equal-hight:hover #tips-title {
        opacity: 0;
    }


    .text {
        color: white;
        font-size: 20px;
        position: relative;
        top: 20%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 10px 10px;
    }

    .equal-hight:hover #ts {
        opacity: 1;
    }


    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        animation: fadeInRight 1s ease;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    #tip-modal {
        width: 30%;
    }


    .row {
        width: 100%;
        margin: 0px;
    }
    .videoDes {
        font-family: 'Quicksand', sans-serif;
    }
</style>

<div class="col-12" style="        background-image: url('../Assets/tipbanner.jpg');
        background-position: center center;
        background-size: cover;
        padding: 0px;
        height: 15%;">

    <div class="col-12" style="background-color:rgba(45,45,45,0.3); width:100%; height:100%;">
        <div class="row">


        </div>
    </div>
</div>

<div class="container body-content" style=" margin-bottom:60px;">
    <div class="container col-12  col-md-12" style="text-align:center;">
        <div class="row">
            <h1 class="col-12" style="        font-size: xxx-large;
        font-weight: bold;
        color: black;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        color: #333333;
        margin: 60px 0px;
        margin-bottom: 20px;">VIDEOS</h1><br>
            <div class="col-lg-7 text-dark" style="font-family: 'Raleway', sans-serif; font-weight: 500; font-size: 1.5em; margin: auto auto; ">
                Get to know more about our impact on water
                catchment through videos!
            </div>

        </div>
    </div>



</div>

<div class="">



    <div class="row " id="video-row">
        <div class="col-12 ">

            <!-- Carousel section 1 -->
            
            <div class="row">
                <div class="col-lg-3 col-md-5 col-sm-8 col-xs-8 " style="font-size: 1.5em;font-weight: bold;color:black; text-align:center; font-family:'Raleway', sans-serif; color:rgb(58,166,221);  border:solid; margin: 30px auto; border-radius:5px;">Water Consumption</div>

                <div class="col-12 videoDes">

                    <div class="col-lg-4 col-md-12" style="margin-bottom:50px; padding:30px;">
                        <h3 style="text-align:center; font-weight:bold;">Melbourne's water<br> story</h3>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/wjF8tux0Azg"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12" style="margin-bottom:50px; padding:30px;">
                        <h3 style="text-align:center; font-weight:bold;">Water for Victoria:<br> Sharing Victoria's water</h3>
                        <div class="embed-responsive embed-responsive-16by9">

                            <iframe width="560" height="315"
                                    src="https://www.youtube.com/embed/ZeLVVb0ntmU"
                                    frameborder="0" allow="accelerometer; autoplay; clipboard-write;encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12" style="margin-bottom:50px; padding:30px;">
                        <h3 style="text-align:center; font-weight:bold;">
                            Water saving tips<br> from Andrew Hansen
                        </h3>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/-UyjJztcazU"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>



                </div>

            </div>

            <div class="row" style="text-align:center;">
                <div class="col-lg-3 col-md-5 col-sm-8 col-xs-8 " style="font-size: 1.5em; font-weight: bold; color: black; text-align: center; font-family: 'Quicksand', sans-serif; color: rgb(58,166,221); border: solid; margin: 30px auto; border-radius: 5px;">Water Pollution</div>

                <div class="col-12 row videoDes">
                    <div class="col-lg-8 " style=" text-align: center; font-family: 'Quicksand', sans-serif; margin: 30px auto; ">


                        <div class="col-lg-6 col-md-12" style="margin-bottom:50px;">
                            <h3 style="text-align:center; font-weight:bold;">Beach report - <br>causes of water pollution</h3>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315"
                                        src="https://www.youtube.com/embed/WsEXJ7vsen4"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write;encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12" style="margin-bottom:50px;">
                            <h3 style="text-align:center; font-weight:bold;">Melbourne Water<br> Litter Action Program</h3>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315"
                                        src="https://www.youtube.com/embed/TZ_AQxALm0I"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write;encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>
                </div>
            </div>





            <div style="text-align: right; font-size: 12px; color: black; opacity: 0.7">
                Sources: Melbourne Water, Department of Environment, Land, Water &amp; Planning Victoria, EPA
                Victoria
            </div>
            <!-- End Carousel section 1 -->
        </div>
    </div>


</div>


<div class="" style="background-color: gainsboro">
    <div class="container" style="padding-top:20px;">

        <div class="row" style="text-align:center;">
            <div class="col-lg-12">
                <img src="~/Assets/waterfalls.png" style="width:60px;" />
                <p style="font-family: 'Quicksand', sans-serif; font-weight:bold; font-size:1.2em;">Read tips about ways to reduce plastics and water usage</p>
                <button type="submit" class="btn btn-primary" style="font-weight:bold; padding:5px 10px ; font-family: 'Quicksand', sans-serif; background-color:dodgerblue" onclick="location.href='/Tips'; ">Go to Tips</button>

            </div>


        </div>

        <div class="row" style="text-align:center;">
            <div class="col-lg-12">
                <img src="~/Assets/whale.png" style="width:60px;" />
                <p style="font-family: 'Quicksand', sans-serif; font-weight:bold; font-size:1.2em;">Test your knowledge on protecting water catchments</p>
                <button type="submit" class="btn btn-primary" style="font-weight:bold; padding:5px 10px ; font-family: 'Quicksand', sans-serif; background-color:dodgerblue" onclick="location.href='/Home/Quiz'; ">Start Quiz</button>

            </div>


        </div>

        <div class="row" style="text-align:center; margin-top:20px;">
            <div class="col-lg-12">
                <img src="~/Assets/penguin.png" style="width:60px;" />
                <p style="font-family: 'Quicksand', sans-serif; font-weight:bold; font-size:1.2em;">Calculate your daily water usage</p>
                <button type="submit" class="btn btn-primary" style="font-weight:bold; padding:5px 10px ; font-family: 'Quicksand', sans-serif; background-color:dodgerblue" onclick="location.href='/Home/Calculator'; ">Try Calculator</button>

            </div>


        </div>

        <div class="row">
            <div class="col-12" style="text-align: right; margin:50px 0px;">
                <button type="submit" class="btn btn-primary" onclick="location.href='/'; ">Back to Home</button>
            </div>
        </div>
    </div>
</div>




